

<!-- Banner Starts Here -->
<div class="main-banner header-text" id="top">
    <div class="Modern-Slider">
              <div class="item item-1">
            <div class="img-fill" style="background-image: url(../uploads/slider/slider-3.jpg);">
                <div class="text-content">
                    <div class="text-container">
                        <h1 href="" class="typewrite" data-period="1500" data-type='[ "Kalitenin başladığı yer", "Kromel Makina"]'>
                            <span class="wrap"></span>
                        </h1>
                        <h2>
                            KOMPLE ANAHTAR TESLİMİ SÜT TESİSLERİ PLAN, PROJE, MONTAJ,<br /> UYGULAMA VE ÜRETIM MÜHENDİSLİĞİ HİZMETLERİ
                        </h2>
                        <p>1980'DAN BERI</p>
                        <a href="#" class="filled-button" data-toggle="modal" data-target="#video">Tanıtım</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="item item-2">
            <div class="img-fill" style="background-image: url(../uploads/slider/slider-2.jpg);">
                <div class="text-content">
                    <div class="text-container">
                        <h1 href="" class="typewrite" data-period="1500" data-type='[ "Kalitenin başladığı yer", "Kromel Makina"]'>
                            <span class="wrap"></span>
                        </h1>
                        <h2>
                            KOMPLE ANAHTAR TESLİMİ SÜT TESİSLERİ PLAN, PROJE, MONTAJ, <br /> UYGULAMA VE ÜRETIM MÜHENDİSLİĞİ HİZMETLERİ
                        </h2>
                        <p>1980'DAN BERI</p>
                        <a href="#" class="filled-button" data-toggle="modal" data-target="#video">Tanıtım</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="item item-3">
            <div class="img-fill" style="background-image: url(../uploads/slider/slider-1.jpg);">
                <div class="text-content">
                    <div class="text-container">
                        <h1 href="" class="typewrite" data-period="1500" data-type='[ "Kalitenin başladığı yer", "Kromel Makina"]'>
                            <span class="wrap"></span>
                        </h1>
                        <h2>
                            KOMPLE ANAHTAR TESLİMİ SÜT TESİSLERİ PLAN, PROJE, MONTAJ, <br /> UYGULAMA VE ÜRETIM MÜHENDİSLİĞİ HİZMETLERİ
                        </h2>
                        <p>1980'DAN BERI</p>
                        <a href="#" class="filled-button" data-toggle="modal" data-target="#video">Tanıtım</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="video" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p>Tanıtım video</p>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/6ALJKZ4ENZE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>