
@{
    ViewData["Title"] = "Iletisim";
}

<!-- Page Content -->
<div class="page-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Contact Us</h1>
                <span>feel free to send us a message now!</span>
            </div>
        </div>
    </div>
</div>

<div class="contact-information" id="iletisim">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="contact-item">
                    <i class="fa fa-phone"></i>
                    <h4>Phone</h4>
                    <p>Vivamus ut tellus mi. Nulla nec cursus elit, id vulputate nec cursus augue.</p>
                    <a href="https://api.whatsapp.com/send?phone=+905346880178&text=Call%20us" target="_blank">+90 555 55 55</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="contact-item">
                    <i class="fa fa-envelope"></i>
                    <h4>Email</h4>
                    <p>Vivamus ut tellus mi. Nulla nec cursus elit, id vulputate nec cursus augue.</p>
                    <a href="mailto:kromel@kromel.com.tr" target="_blank">kromel@kromel.com.tr</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="contact-item">
                    <i class="fa fa-map-marker"></i>
                    <h4>Adres</h4>
                    <p>Sakarya 1.OSB 1.Yol No:11 54580 <br />Arifiye / SAKARYA</p>
                    @*<a href="https://www.google.com/maps/place/Kromel+Makina/@40.7163855,30.3880984,13.75z/data=!4m4!3m3!1s0x0:0x8b16d3985e582941!11m1!2e1" target="_blank">Google Maps</a>*@
                </div>
            </div>
        </div>
        <div class="row">
            <div id="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d48375.09609504199!2d30.455830357412154!3d40.73026559972688!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8b16d3985e582941!2sKromel%20Makina!5e0!3m2!1str!2str!4v1617369458972!5m2!1str!2str" width="70%" height="500%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </div>
</div>




