@{
    ViewData["Title"] = "Ana Sayfa";
}

<!-- Page Content -->
<partial name="_Slider" />

<!--contact form-->
<div class="request-form">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2>Bizim ürünlerimizle üretiminizi geliştirin.</h2>
                <span>Daha fazlası için bizimle iletişime geçin.</span>
            </div>
            <div class="col-md-4">
                <a href="contact.html" class="border-button">İletişim</a>
            </div>
        </div>
    </div>
</div>


    <!--Hizmetlerimiz-->
    <section id="hizmetler">
        <div class="container">
            <div class="section-heading">
                <h1><em>Hizmetlerimiz</em></h1>
                <span>Son teknoloji ürünlerimiz, alanında uzman çalışanlarımız ve yılların tecrübesi ile sizlere <br />%100 Hizmet Kalitesi sunuyoruz.</span>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip">
                        <div class="mainflip flip-0">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="./assets/images/kasar.jpg" alt="card image"></p>
                                        <h4 class="card-title">Ürün Potroföyü</h4>
                                        <p class="card-text">This is basic card with image on top, title, description and button.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">Ürün Potroföyü</h4>
                                        <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                        <a href="#urunler" class="filled-button"><i class="fa fa-search"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip">
                        <div class="mainflip flip-0">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="./assets/images/kasar.jpg" alt="card image"></p>
                                        <h4 class="card-title">Kaliteli Üretim</h4>
                                        <p class="card-text">This is basic card with image on top, title, description and button.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">Kaliteli Üretim</h4>
                                        <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                        <a href="#urunler" class="filled-button"><i class="fa fa-search"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip">
                        <div class="mainflip flip-0">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="./assets/images/kasar.jpg" alt="card image"></p>
                                        <h4 class="card-title">Anahtar Teslimi</h4>
                                        <p class="card-text">This is basic card with image on top, title, description and button.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">Anahtar Teslimi</h4>
                                        <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                        <a href="#urunler" class="filled-button"><i class="fa fa-search"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Arge-->
    <div class="fun-facts" id="arge">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="left-content">
                        <span>Ar-Ge Merkezi İle Daha Güçlüyüz</span>
                        <h2>KROMEL <em>AR-GE</em></h2>
                        <p>
                            AR-GE çalışmalarımız ile mevcut standartlarımızı daha da ileri taşıma hedefliyoruz.
                            <br />Amacımız sahip olduğumuz yetiler ve içimizde barındırdığımız heyecan ile Dünya pazarında yeni coğrafyalarda etkinliğimizi arttırmaktır.
                        </p>
                        <a href="" class="filled-button">Read More</a>
                    </div>
                </div>
                <div class="col-md-6 align-self-center">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="count-area-content">
                                <div class="count-digit">2564</div>
                                <div class="count-title">Makina</div>
                                <!--<div><i class="fa fa-envelope fa-2x"></i></div>-->
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="count-area-content">
                                <div class="count-digit">54</div>
                                <div class="count-title">Ülke</div>
                                <!--<div><i class="fa fa-envelope fa-2x"></i></div>-->
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="count-area-content">
                                <div class="count-digit">578</div>
                                <div class="count-title">Bitiren Proje</div>
                                <!--<div><i class="fa fa-envelope fa-2x"></i></div>-->
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="count-area-content">
                                <div class="count-digit">26</div>
                                <div class="count-title">Kazanılan Ödül</div>
                                <!--<div><i class="fa fa-envelope fa-2x"></i></div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
